#lorem-ipsum {

    margin: 10%;
    text-align: center;


    h1 {
        color: #BC595C;
    }

    h4{
        color: #8FB7E1;
    }

    p{
        color: #6486AA;
        word-wrap: normal;
    }

}