.sub-links {

    position: absolute;
    z-index: -1;

    -webkit-transform: translateY(100%);
    transform: translateY(-100%);

    background-color: var(--color-primary-3);

    display: flex;
    flex-direction: column;

    transition: .4s;

    .sub-link {
        color: var(--color-primary-1);
        padding: 20px;
    }

    &.active {
        transform: translate(0, 25px);
        -webkit-transform: translate(0, 25px); // Chrome & Safari
        -o-transform: translate(0, 25px); // Opera
        -moz-transform: translate(0, 25px); // Firefox
    }

}