#navbar-selected {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        margin-top: 20%;
        font-size: 30px;
        color: white;
    }

    p {
        color: #BC595C;
        margin-bottom: 40px;
		font-variant: small-caps;
        font-weight: 600;
        font-size: 20px;
    }

}

#main-stretch {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    button {
        position: relative;
        background-color: #405D7B;
        border-color: #243950;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #6486AA;
        }

        .active {
            background-color: #8FB7E1;

        }

    }
}